/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  -webkit-font-smoothing: antialiased;
  background: #2B68AE;
  box-sizing: border-box;
  color: #F6F6F6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.section {
    margin: 108px auto;
    margin: 6rem auto;
    max-width: 810px;
    max-width: 45rem;
    min-width: 360px;
    min-width: 20rem;
    padding: 0 36px;
    padding: 0 2rem;
}

.headline span {
    display: table;
    font-size: 72px;
    font-size: 4rem;
    font-weight: 300;
    line-height: 144px;
    line-height: 8rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.headline span:before, 
.headline span:after {
    border-top: 1px solid #F6F6F6;
    content: '';
    display: table-cell;
    position: relative;
    top: 72px;
    top: 4rem;
    width: 45%;
}

.headline span:before { 
    right: 2%; 
}

.headline span:after { 
    left: 2%; 
}

.headline strong {
    display: block;
    font-size: 162px;
    font-size: 9rem;
    font-weight: 900;
    line-height: 108px;
    line-height: 6rem;
    padding-bottom: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}
.exhortation {
    display: block;
    font-size: 36px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    text-align: center
}

.explanation h2 {
    font-size: 27px;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 0 18px 0;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}
.explanation p {
    margin: 0 0 18px 0;
    margin: 0 0 1rem 0;
}
.explanation p  + h2 {
    margin-top: 36px;
    margin-top: 2rem;
}